.header {

    nav {
        padding: 24px;
    }

    &__logo {

        img {

        }

    }

    &__menu { //Mobile hamburger menu
        border-style: solid;
        border-width: 2px;
        border-color: $veryDarkViolet;
        padding: 7px 5px;
        > span {
            display: block;
            width: 16px;
            height: 2px;
            background-color: $veryDarkViolet;
            
            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }

    &__links {

        a {
            font-size: 0.6875rem;
             
        }
        
    }
}